@import './../../colors.module.css';

.list {
  width: 180px;
}

.listHeader {
  display: flex;
  height: 20px;
  background-color: var(--gray10);
  padding: 6px 0 3px 0;
  color: var(--gray70);
}

.firstColumn {
  padding-left: 7px;
  width: 30px;
  text-align: left;
}
.secondColumn {
  width: 80px;
  text-align: left;
}
.deleteButtonColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
}
