@import '../../colors.module.css';

.clickAwayListener {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 30, 95, 0.3);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.newCartDialog {
  position: fixed;
  top: 7vh;
  left: 50%;
  transform: translateX(-50%);
  width: min(90%, 400px);
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 4px 1px var(--gray50);
  display: flex;
  flex-direction: column;
}

.newCartHeader {
  padding: 25px 0;
  background-color: var(--heading-color);
  color: white;
  border-bottom: 1px solid var(--gray50);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.newCartForm {
  padding: 30px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addCartButton {
  border: none;
  outline: none;
  font-size: 1.2rem;
  padding: 17px 25px;
  background-color: var(--pre-success-color);
  color: white;
  border-radius: 5px;
}
.addCartButton:hover {
  background-color: var(--success-color);
}

.addCartButton:disabled {
  background-color: var(--gray40);
  cursor: not-allowed;
}

.productInputContainer {
  position: relative;
  width: 80%;
  margin-bottom: 15px;
}

.productInput {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  padding: 10px;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid var(--gray40);
  resize: none;
}

.productDeleteButton {
  background-color: var(--pre-danger-color);
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productDeleteButton:hover {
  background-color: var(--danger-color);
}

.autocompleteDisplay {
  position: absolute;
  width: 100%;
  background-color: white;
  border: 1px solid var(--gray40);
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-sizing: border-box;
  z-index: 1;
  overflow: hidden;
}

.autocompleteOption {
  padding: 10px;
  border-bottom: 1px solid var(--gray40);
  color: var(--gray70);
  cursor: pointer;
}

.autocompleteOption:hover {
  background-color: var(--gray30);
}

.productInput:disabled {
  border-color: var(--succes-color);
  border-radius: 5px;
}
