@import '../../../colors.module.css';

.newCartForm {
  padding: 30px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitButton {
  background-color: var(--pre-success-color);
}

.submitButton:hover {
  background-color: var(--success-color);
}
