@import './../../colors.module.css';
.siteHeader {
  width: 100%;
  background-color: var(--gray20);
  font-size: 1.5rem;
  font-weight: 600;
  height: 60px;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
