.item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.fullSizeSelectButton {
  display: flex;
  background-color: white;
  color: #7b7b7b;
  width: 100%;
  align-items: flex-end;
  padding: 6px 0;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid #e2e2e2;
}

.fullSizeSelectButton:hover {
  background-color: #f5f5f5;
}
.active {
  background-color: #f5f5f5;
  color: black;
}

.discounted {
  text-align: center;
  font-size: 0.75rem;
  position: relative;
  text-decoration: line-through solid rgba(255, 0, 0, 0.8) 2px;
}

.deleteButton {
  border: none;
  background-color: rgb(255, 113, 113);
}
.deleteButton:hover {
  background-color: rgb(235, 57, 57);
}

.deleteButton:hover .deleteSVG {
  filter: opacity(1);
}

.deleteSVG {
  filter: opacity(0);
}
