@import './../../../colors.module.css';
.item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.fullSizeSelectButton {
  display: flex;
  background-color: white;
  color: var(--gray60);
  width: 100%;
  align-items: flex-end;
  padding: 9px 0;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid var(--gray30);
}

.fullSizeSelectButton:hover {
  background-color: var(--gray10);
}

.fullSizeSelectButton.active {
  background-color: var(--gray10);
  color: black;
}

.discounted {
  text-align: center;
  font-size: 0.75rem;
  position: relative;
  text-decoration: line-through solid rgba(255, 0, 0, 0.8) 2px;
}

.deleteButton {
  border: none;
  background-color: rgb(255, 184, 184);
  border-bottom: 1px solid var(--gray40);
}

.deleteButton:hover {
  background-color: rgb(255, 142, 142);
}

.deleteButton > .deleteSVG {
  filter: opacity(0);
}

.fullSizeSelectButton:hover + .deleteButton > .deleteSVG,
.deleteButton:hover > .deleteSVG {
  filter: opacity(1) !important;
}

.deleteButton.active > .deleteSVG {
  filter: opacity(0.6);
}
