@import './../../colors.module.css';

.siteHeading {
  width: 100%;
  background-color: var(--heading-color);
  height: 100px;
  padding: 0 50px;
  box-sizing: border-box;
  box-shadow: 0 0 2px 1px var(--gray50);
  border-bottom: 2px solid var(--gray60);
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  display: flex;
  color: white;
  border-top-right-radius: var(--content-wrapper-border-radius);
  border-top-left-radius: var(--content-wrapper-border-radius);
}
