@import 'colors.module.css';
html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--gray4);
}
button {
  cursor: pointer;
}
* {
  font-family: 'Signika Negative', sans-serif;
  font-weight: 500;
}

.contentWrapper {
  width: min(96vw, 1340px);
  height: 95vh;
  margin: auto;
  margin-top: 20px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px 3px var(--gray40);
  border-radius: var(--content-wrapper-border-radius);
}

.cartsWrapper {
  display: flex;
  width: 100%;
  height: 100%;
}
