@import "colors.module.css";
body {
  background-color: var(--gray05);
}
button {
  cursor: pointer;
}
* {
  font-family: "Signika Negative", sans-serif;
  font-weight: 500;
}

.aplicationWrapper {
  width: min-content;
  max-width: 92vw;
  height: 96vh;
  margin: auto;
  margin-top: 2vh;

  display: flex;
  flex-direction: column;

  overflow: hidden;
  background-color: white;
  box-shadow: 0 2px 3px 1px var(--gray40);
  border-radius: 15px;
}

.dashboardWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
