:root {
  --gray00: #ffffff;
  --gray01: #f7f8f9;
  --gray02: #f6f7f8;
  --gray03: #f5f6f7;
  --gray04: #f4f5f6;
  --gray05: #f1f3f5;
  --gray10: #edf0f3;
  --gray15: #e8ebef;
  --gray20: #e1e5e9;
  --gray30: #d1d7dd;
  --gray40: #afb8c2;
  --gray50: #8d969e;
  --gray60: #4d5b66;
  --gray70: #3b4147;
  --gray80: #1f2429;
  --gray90: #000000;

  --content-wrapper-border-radius: 15px;
}
