:root {
  --gray00: #ffffff;
  --gray01: #f7f8f9;
  --gray02: #f6f7f8;
  --gray03: #f5f6f7;
  --gray04: #f4f5f6;
  --gray05: #f1f3f5;
  --gray10: #edf0f3;
  --gray15: #e8ebef;
  --gray20: #e1e5e9;
  --gray30: #d1d7dd;
  --gray40: #afb8c2;
  --gray50: #8d969e;
  --gray60: #6c7a85;
  --gray70: #3b4147;
  --gray80: #1f2429;
  --gray90: #000000;

  --heading-color: hsl(231, 50%, 55%);
  --heading-color-dark: hsl(236, 50%, 50%);

  --pre-danger-color: hsl(17, 100%, 93%);
  --danger-color: hsl(4, 69%, 76%);

  --pre-success-color: hsl(122, 36%, 51%);
  --success-color: hsl(123, 45%, 41%);

  --pre-edit-color: hsl(203, 100%, 93%);
  --edit-color: hsl(203, 100%, 77%);

  --price-color: hsl(241, 61%, 59%);
  --discounted-price-color: hsl(120, 42%, 49%);
}
